html {
    background-color: #2c3e50

}

body {
  /*padding: 3px;*/
  margin: 0px;
}

header {
  background-image: url("https://lh3.googleusercontent.com/PDtfw_ECaEiA-MsoNtsPZynFbYfg7yW52r5ToNze_1lUT2xvrrqhfbMPrbcgN_HTtqdHC9qOQq7IRrsCycsfLWGMOyrgIP62patOE_ChGQ2rUIM8q2LLeWR9L6pC7nLJ3aPbv6GuSezd5sxTfWzTyGXuWpMMACmwtarv-TbkAJUDnsT_rMQkuKAOl19Qn2Hl0HGYg5SvgacwdyPxT2p4nxdhVYnFZktgG0uBoqJao0IRxomm5Q1TUoe_w9JniJ9cf4WOr2DptcEbJgxxwpb4KJdNbnz8iz4wVmUhzhom_st5NaeDnTwVPpXOCYIRIG3IiEjtWcBjkOFSPZxqcAp-Uq0eZvDx7Med03l7ldNOToT_bauxmdC9UqF3YcHgMIIzIGdExOXwS60CbCoaN3RXoYrZ03hKQVwZc_kNq4SuXW3bd_OPLl-Zmb4QStGKPdTDlJDzVpc3FFvJ1JHwD8akZHmcCUK2-eo6bDAlKdyZAm65HDqyX9L2syZr-hA2UifMb85S3soOw3kezfdQK3Zwqi0l1GufMmSTOCCPrP7Rs2_-mtlsbLocLyK9WpIpOMADIQDXhwTPVqppJAGseWwTXTuhLNAt23KmHRljyv4OBJEmabBPAb17EsjW=w1716-h965-no");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  margin: 0px;
  font-family: 'Raleway', sans-serif;

}
header li {
  display: inline;
  margin: auto;
  float: right;
  padding-left: 30px;
}

h1 {
  background-color: #deedef;
  padding: 5px;
  padding-left: 7px;
  border: solid #000130 5px;
  border-radius: 10px;
  border-top: 0px;
  margin: 0px;
  width: 50%;
}
header div {
  height: 75%;
  position: relative;
}

header p {
  color: #deedef;
  text: bottom;
  text-align: center;
  font-size: 40px;
}
.about {
  bottom: 0;
  margin-top: 50%;
  /*height: 300px;*/
  /*background-image: linear-gradient(0,#1e130c,#9a8478 );*/

}

.links {
  border: none;
  margin: inherit;
}

main {
  position: relative;
}

main ul {
  /*display: inline;*/
  background-color: #f0ead6;
  padding: 13px;
  margin: 7px;
  border: solid #33200a 2px;
  border-radius: 15px;
}


.subjects {
  font-family: 'Lemonada', cursive;
  margin: 5px;
  padding: inherit;
  font-size: 50px;
}

.family {
  position: relative;
  display: inline;
  margin: auto;
  background-color: 0,0,0,0;
}
.familyThings {
  padding: 10px 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.school {
  position: relative;
  float: right;
  margin: auto;
  height: 533px;
  max-width: 500px;
  font-family: 'Source Sans Pro';
  font-size: 25px;
}


.topTen {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    max-width: 500px;
    position: relative;


}

span {
  color: #556b2f;
  background-color: #000000;
  font-family: 'Allerta Stencil', sans-serif;
}

.army {
  background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/1915302_1174377751972_1603762_n.jpg?oh=0e6dab9b35804f747e58777055c7dcbb&oe=59F3BBD3");
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-size: cover;
  margin: auto;

}

.army p {
  background-image: radial-gradient(white, transparent);
  height: 22px;
  text-align: center;
}

footer {
  font-size: 60px;
  color: red;
  text-align: center;
}
.pizza1 {

  height: 84px;
  width: 125px;
}
