body {
  padding: 3px;
  background-image: linear-gradient(0deg, #001335, rgb(255,255,255));
  margin-top: 0px;
}

header {
  background-color: #deedef;
  padding: 5px;
  padding-left: 7px;
  border: solid #000130 5px;
  border-radius: 10px;
  border-top: 0px;
  margin-top: 0px;
}

header p {
  color: black;
  font-size: 15px;
}

h1 {
  color: #1a3351;
}

div {
  background-color: #f0ead6;
  padding: 3px;
  margin: 7px;
  border: solid #33200a 2px;
  border-radius: 15px;
}


.subjects {
  font-family: Arial;
}

span {
  color: #556b2f;
  background-color: #000000;
}

.army {

  background-image: url("http://www.popsci.com/sites/popsci.com/files/styles/large_1x_/public/import/2013/images/2011/07/Flickr_-_The_U.S.jpeg?itok=htyhZlUW");
  background-position-y: 50%;
}

.army p {
  background-image: radial-gradient(white, transparent);
  height: 22px;
  text-align: center;
}

footer {
  font-size: 60px;
  color: red;
  text-align: center;
}
.pizza1 {
  /*450 x 219*/
  height: 84px;
  width: 125px;
}
